<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h1 class="text-center mb-4">Listas de Compra</h1></div>
        <div class="col-4 "><a href="#" class="btn btn-primary align-text-bottom nuevaLista">Nueva Lista</a></div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Total Importe</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterar sobre los productos -->
        <tr th:each="ShoppingList : ${listasCompra}">
            <td th:text="${ShoppingList.id}"></td>
            <td th:text="${ShoppingList.date}"></td>
            <td th:text="${ShoppingList.nombre}"></td>
            <td th:text="${total}"></td>
            <td><a href="/api/lists/DetallesLista?id=${ShoppingList.id}">Ver Lista</a></td>
        </tr>
        </tbody>
    </table>
</div>
