<!-- Nueva Lista -->
<div class="container new-list-section" >
    <h3>Nueva Lista</h3>
    <form id="newListForm">
        <div class="form-group">
            <label for="listName">Nombre</label>
            <input type="text" class="form-control" id="listName" placeholder="Escribe el nombre de la lista" required>
        </div>
        <div class="form-group">
            <label for="listDate">Fecha</label>
            <input type="date" class="form-control" id="listDate" required>
        </div>
        <button type="button" class="btn btn-success" id="guardarLista">
            Guardar
        </button>
    </form>
</div>
